
.my_cont .title_area{
    position: relative;
    padding-bottom: 50px;
}
fieldset {
    border: none;
}
.sc_box {
    padding: 40px;
    border-top: 2px solid #444;
    background: #f4f4f4;
}
caption, legend {
    height: 0;
    width: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    visibility: hidden;
    display: none;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
}
.sc_box label {
    display: inline-block;
    margin-right: 38px;
    padding-top: 14px;
    font-size: 16px;
    letter-spacing: -0.04em;
    line-height: 1;
}
.sc_box .ip_text {
    width: 400px;
    vertical-align: top;
}

input.ip_text {
    display: inline-block;
    height: 45px;
    padding: 14px 15px;
    border: 1px solid #dbdbdb;
    color: #141414;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
}

.sc_box .btn_ty_bface.sm {
    min-width: 80px;
    padding: 14px 23px 13px;
}
.btn_ty_bface {
    border: 2px solid #141414;
    background: #141414;
    color: #fff
}
.star_noti {
    margin-top: 20px;
}
.star_noti li {
    margin-top: 10px;
    font-size: 12px;
    color: #777;
    letter-spacing: -0.025em;
    line-height: 1;
}
ul, ol, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}
ul, ol, li, div {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}
.sec_tit {
    padding-top: 80px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
}
.sec_tit + .sec_sub_txt {
    margin-top: -6px;
    margin-bottom: 30px;
    letter-spacing: -0.04em;
    line-height: 1;
}
.tab_list.m60 {
    margin-bottom: 60px;
}
.tab_list {
    overflow: hidden;
}
.tab_list ul {
    position: relative;
    overflow: hidden;
}
.tab_list ul.col3 li {
    width: 33%;
}
.tab_list ul > li {
    border-color: #141414;
    border-width: 2px 2px 0 2px;
}
.tab_list ul > li {
    float: left;
    border: solid #dbdbdb;
    box-sizing: border-box;
}

.tab_list ul > li > a {
    display: block;
    padding: 20px 1px 23px;
    color: #121212;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    font-weight: 400;
}
.sort_area {
    margin: 43px 0 30px;
}
.sort_area .period {
    overflow: hidden;
}
.sort_area fieldset > div {
    float: left;
}
.sort_area .period input[type="radio"] {
    display: none;
}
.sort_area .period input[type="radio"]:first-child + label {
    margin-left: 0;
}

.sort_area .period input[type="radio"] + label {
    display: block;
    float: left;
    position: relative;
    width: 88px;
    height: 33px;
    border: 1px solid #dbdbdb;
    color: #777;
    text-align: center;
    line-height: 33px;
    cursor: pointer;
}
input[type="radio"] {
    -webkit-appearance: none;
}
.sort_area fieldset > div.right-wrap {
    float: right;
}
.sort_area .date {
    display: inline-block;
}
.sort_area .date .datepicker {
    display: inline-block;
    position: relative;
}
.sort_area .date .datepicker .ip_text {
    width: 155px;
    height: 35px;
    background: #fff;
    padding: 9px 35px 8px 16px;
    color: #777;
}
.sort_area .date .datepicker .btn_date {
    display: block;
    position: absolute;
    right: 13px;
    top: 6px;
    width: 23px;
    height: 23px;
    background: url(https://image.nbkorea.com/NBRB_PC/common/btn_calendar.png) no-repeat 0 0;
}
.sort_area .date .unit {
    display: inline-block;
    padding: 0 7px;
    color: #777;
    line-height: 35px;
    vertical-align: top;
}
.sort_area .btn_ty_gface.xs {
    min-width: 60px;
}
[class*="btn_ty_"].xs {
    padding: 11px 15px 10px;
    border-width: 1px !important;
    font-size: 12px;
}
.btn_ty_gface {
    border: 2px solid #444;
    background: #444;
    color: #fff;
}
[class*="btn_ty_"] {
    display: inline-block;
    margin-left: 7px;
    text-align: center;
    line-height: 1;
    letter-spacing: -0.04em;
    cursor: pointer;
    vertical-align: top;
    box-sizing: border-box;
}
.tbl_y {
    border-top: 2px solid #444;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.tbl_y thead th {
    height: 61px;
    border-bottom: 1px solid #dbdbdb;
}
.tbl_y tbody td {
    border-bottom: 1px solid #dbdbdb;
    padding: 8px;
}
.tbl_y td {
    height: 100px;
    padding: 0 10px;
    color: #444;
    text-align: center;
    line-height: 21px;
}
table .no_data {
    height: 285px !important;
    vertical-align: top !important;
    text-align: center !important;
}
.colgroup col {
    width: auto;
}
.no_data .txt01 {
    padding: 167px 0 0;
    background: url(https://image.nbkorea.com/NBRB_PC/common/icon_exclamation.png) no-repeat 50% 84px;
    color: #141414;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.04em;
    text-align: center;
}
.my_cont .tbl_y + .btn_area {
    margin-top: 60px;
}
.btn_area.center {
    text-align: center;
}
[class*="btn_ty_"]:first-child {
    margin-left: 0;
}
.btn_ty_more {
    padding: 5px 20px 5px 0;
    background: url(https://image.nbkorea.com/NBRB_PC/common/bg_btn_more.png) no-repeat 100% 52%;
    color: #333;
    font-size: 16px;
    letter-spacing: -0.045em;
}
.sort_area .period input[type="radio"]:checked + label {
    background-color: #141414;
    border-color: #141414;
    color: #fff;
    font-weight: 400;
    z-index: 1;
}