<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/config/defaultLayout}">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- ckEditor api -->
    <script th:src="@{/ckeditor5/build/ckeditor.js}"></script>
    <script type="text/javascript" src="/js/admin/adminPage.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/admin/adminPage.css">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container" layout:fragment="content">
    <h2>adminPage</h2>
    <!-- 메뉴 토글 시작 -->
    <div class="sidebar">
        <ul>
            <li class="adminMenu">
                <a>게시판관리</a>
                <ul class="hide">
                    <li><a href="" id="noticeList">공지사항</a></li>
                    <li><a href="" id="faqList">faq</a></li>
                </ul>
            </li>

            <li class="adminMenu">
                <a>회원메뉴</a>
                <ul class="hide">
                    <li><a href="" id="memberList">회원관리</a></li>
                </ul>
            </li>

            <li class="adminMenu">
                <a>카테고리메뉴</a>
                <ul class="hide">
                    <li><a href="" id="categoryList">카테고리관리</a></li>
                </ul>
            </li>

            <li class="adminMenu">
                <a>쿠폰메뉴</a>
                <ul class="hide">
                    <li><a href="" id="couponList">쿠폰관리</a></li>
                </ul>
            </li>

            <li class="adminMenu">
                <a>상품메뉴</a>
                <ul class="hide">
                    <li><a href="" id="productList">상품관리</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- 메뉴 토글 끝 -->


    <!-- 공지사항 시작-->
    <div class="adminContent">
        <div>
            <table id="noticesTable" class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>제목</th>
                    <th>등록일</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

            <button id="noticeEdit" th:onclick="|location.href='@{/admin/notice-form}'|"  sec:authorize="hasRole('ROLE_ADMIN')">글쓰기</button>

            <button id="loadNoticeMore">더보기</button>

            <!-- Notice 모달 창 -->
            <div id="noticeModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <input type="hidden" id="noticeModalId">
                    <h2><input type="text" id="noticeModalTitle" ></h2>
                    <p><textarea id="noticeModalContent"></textarea></p>
                    <p>조회수: <span id="noticeModalCount"></span></p>
                    <p>수정 날짜: <span id="noticeModalModifiedDate"></span></p>
                    <div>
                        <button id="editNoticeBtn" class="btn btn-primary"  sec:authorize="hasRole('ROLE_ADMIN')">수정</button>
                        <button id="deleteNoticeBtn" class="btn btn-primary"  sec:authorize="hasRole('ROLE_ADMIN')">삭제</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 공지사항 끝 -->

        <!-- faqs 시작 -->
        <div id="faqsDivList">
            <h2>FAQs</h2>
            <div class="form-group">
                    <input type="hidden" id="tag" name="tag">
                    <input type="hidden" id="page" name="page">
                    <input type="text" id="condition" name="condition">
                    <button type="button" id="submitBtn">검색</button>
            </div>
            <div>
                <a href="" id="faqEditBtn" sec:authorize="hasRole('ROLE_ADMIN')">글쓰기</a>

                <ul class="tabs">
                    <input type="hidden" th:value="${tag}">
                    <input type="hidden" id="condition-hidden" th:value="${condition}">
                    <li class="tab-item" id="all" data-tab="tab-1"><a href="#">전체</a></li>
                    <li class="tab-item" id="website" data-tab="tab-2"><a href="#">웹사이트</a></li>
                    <li class="tab-item" id="mileage" data-tab="tab-3"><a href="#">통합 마일리지</a></li>
                    <li class="tab-item" id="repair" data-tab="tab-4" ><a href="#">수선(A/S)</a></li>
                    <li class="tab-item" id="store" data-tab="tab-5" ><a href="#">매장 관련</a></li>
                    <li class="tab-item" id="product" data-tab="tab-6" ><a href="#">제품</a></li>
                    <li class="tab-item" id="members" data-tab="tab-7" ><a href="#">멤버스</a></li>
                    <li class="tab-item" id="return" data-tab="tab-8" ><a href="#">교환/반품</a></li>
                </ul>
            </div>
            <br><br><br>
            <div class="contents">
                <div class="content">

                </div>
            </div>
            <div class="paging">
                <button type="button" id="pagingBtn" th:text="'더보기(' + ${count} + ')'"></button>
            </div>
        </div>
        <!-- faqs 끝 -->

        <!-- faqs Edit Modal 시작 -->
        <div id="faqEditModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <form id="faqModalForm">
                    <select id="tagEditSelect"></select>
                    <p><textarea id="faqEditQuestionModalContent"></textarea></p>
                    <p><textarea id="faqEditAnswerModalContent"></textarea></p>
                    <div>
                        <button type="button" id="editFaqBtn" class="btn btn-primary"  sec:authorize="hasRole('ROLE_ADMIN')">등록</button>
                        <button type="button" id="cancelEditFaqBtn" class="btn btn-primary"  sec:authorize="hasRole('ROLE_ADMIN')">취소</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- faqs Edit Modal 끝 -->

        <!-- update Modal 시작 -->
        <div id="faqUpdateModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Update FAQ</h2>
                <form id="faqUpdateModalForm">
                    <input type="hidden" id="faqUpdateId">
                    <select id="tagUpdateSelect"></select><br>
                    <textarea id="faqUpdateQuestionModalContent"></textarea><br>
                    <textarea id="faqUpdateAnswerModalContent"></textarea><br>
                    <div>
                        <button id="updateFaqBtn" class="btn btn-primary"  sec:authorize="hasRole('ROLE_ADMIN')">수정</button>
                        <button id="deleteFaqBtn" class="btn btn-primary"  sec:authorize="hasRole('ROLE_ADMIN')">삭제</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- update Modal 끝 -->


        <!-- member List 시작-->
        <div>
            <table id="membersTable" class="table table-striped">
                <thead>
                <tr>
                    <th>아이디</th>
                    <th>이메일</th>
                    <th>닉네임</th>
                    <th>성별</th>
                    <th>권한</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

            <button id="loadMemberMore">더보기</button>
        </div>
        <!-- member List 끝 -->

        <!-- category 시작-->
        <div id="categoryDivList">
            <div class="clearfix">
                    <div class="adminNav">
                            <ul class="category_tabs">
                                <li class="tab-item" id="men" data-tab="tab-1" data-title="MEN"><a>Men</a></li>
                                <li class="tab-item" id="women" data-tab="tab-2" data-title="WOMEN"><a>Women</a></li>
                                <li class="tab-item" id="kids" data-tab="tab-3" data-title="KIDS"><a>Kids</a></li>
                            </ul>
                    </div>

                <br><br>

                <div class="inner" id="cateMan">
                    <div class="depth">
                        <strong class="tit">Featured</strong>
                        <div class="content">
                                <ul id="ul_Featured">
                                    <!-- 내용 추가 -->
                                </ul>
                                <div class="cateBtn">
                                    <input type="text" id="depth_1" data-ref="1"><br>
                                    <div class="buttons">
                                        <input type="button" id="depth_1_BtnAdd" value="추가">
                                        <input type="button" id="depth_1_BtnEdit" value="수정">
                                        <input type="button" id="depth_1_BtnDelete" value="삭제">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="depth">
                            <strong class="tit">신발</strong>
                            <div class="content">
                                <ul id="ul_Shoes">
                                    <!-- 내용 추가 -->
                                </ul>
                                <div class="cateBtn">
                                    <input type="text" id="depth_2" data-ref="2"><br>
                                    <div class="buttons">
                                        <input type="button" id="depth_2_BtnAdd" value="추가">
                                        <input type="button" id="depth_2_BtnEdit" value="수정">
                                        <input type="button" id="depth_2_BtnDelete" value="삭제">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="depth">
                            <strong class="tit">의류</strong>
                            <div class="content">
                            <ul id="ul_Clothing">
                                <!-- 내용 추가 -->
                            </ul>
                                <div class="cateBtn">
                                    <input type="text" id="depth_3" data-ref="3"><br>
                                    <div class="buttons">
                                        <input type="button" id="depth_3_BtnAdd" value="추가">
                                        <input type="button" id="depth_3_BtnEdit" value="수정">
                                        <input type="button" id="depth_3_BtnDelete" value="삭제">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="depth">
                            <strong class="tit">용품</strong>
                            <div class="content">
                            <ul id="ul_Supplies">
                                <!-- 내용 추가 -->
                            </ul>
                                <div class="cateBtn">
                                    <input type="text" id="depth_4" data-ref="4"><br>
                                    <div class="buttons">
                                        <input type="button" id="depth_4_BtnAdd" value="추가">
                                        <input type="button" id="depth_4_BtnEdit" value="수정">
                                        <input type="button" id="depth_4_BtnDelete" value="삭제">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="depth" id="cateUnderwear">
                            <strong class="tit">언더웨어</strong>
                            <div class="content">
                            <ul id="ul_Underwear">
                                <!-- 내용 추가 -->
                            </ul>
                                <div class="cateBtn">
                                    <input type="text" id="depth_5" data-ref="5"><br>
                                    <div class="buttons">
                                        <input type="button" id="depth_5_BtnAdd" value="추가">
                                        <input type="button" id="depth_5_BtnEdit" value="수정">
                                        <input type="button" id="depth_5_BtnDelete" value="삭제">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="depth" id="cateSports">
                            <strong class="tit">스포츠</strong>
                            <div class="content">
                            <ul id="ul_Sports">
                                <!-- 내용 추가 -->
                            </ul>
                                <div class="cateBtn">
                                    <input type="text" id="depth_6" data-ref="6"><br>
                                    <div class="buttons">
                                        <input type="button" id="depth_6_BtnAdd" value="추가">
                                        <input type="button" id="depth_6_BtnEdit" value="수정">
                                        <input type="button" id="depth_6_BtnDelete" value="삭제">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="depth" id="cateKids">
                            <strong class="tit">연중판매</strong>
                            <div class="content">
                            <ul id="ul_YearRound">
                                <!-- 내용 추가 -->
                            </ul>
                                <div class="cateBtn">
                                    <input type="text" id="depth_7" data-ref="7"><br>
                                    <div class="buttons">
                                        <input type="button" id="depth_7_BtnAdd" value="추가">
                                        <input type="button" id="depth_7_BtnEdit" value="수정">
                                        <input type="button" id="depth_7_BtnDelete" value="삭제">
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- category menu 끝-->

        <!-- coupon 목록 시작 -->
        <div id="couponDivList">
            <div>
                <div id="couponAdd">
                    <h2>쿠폰등록</h2>
                    <button id="couponEditBtn" sec:authorize="hasRole('ROLE_ADMIN')">등록</button>
                </div>
                <h2>쿠폰목록</h2>
                <table id="couponTable">
                    <thead>
                        <tr>
                            <th>혜택</th>
                            <th>쿠폰명</th>
                            <th>사용기간</th>
                            <th>수량</th>
                            <th>상태</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <button id="loadCouponMore">더보기</button>
            </div>
        </div>

        <!-- coupon 목록 끝 -->

        <!-- coupon Add Modal 시작 -->
        <div id="couponEditModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <form id="CouponModalForm">
                    <p>쿠폰명<input type="text" id="couponEditTitle"></p>
                    <p>쿠폰코드<input type="text" class="couponEditCode" disabled>
                        <button type="button" class="randomCodeBtn">코드생성</button>
                    </p>
                    <p>기간<input type="text" id="couponEditPeriod"></p>
                    <p>할인율
                        <select id="couponEditBenefit">
                            <option value="5">5%</option>
                            <option value="10">10%</option>
                            <option value="15">15%</option>
                            <option value="20">20%</option>
                            <option value="25">25%</option>
                            <option value="30">30%</option>
                        </select>
                    </p>
                    <p>수량<input type="text" id="couponEditQuantity"></p>
                    <div>
                        <button type="button" id="editCouponBtn" class="btn btn-primary"  sec:authorize="hasRole('ROLE_ADMIN')">등록</button>
                        <button type="button" id="cancelEditCouponBtn" class="btn btn-primary"  sec:authorize="hasRole('ROLE_ADMIN')">취소</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- coupon Add Modal 끝 -->

        <!-- coupon Add Modal 시작 -->
        <div id="couponUpdateModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <form id="CouponUpdateModalForm">
                    <input type="hidden" id="couponUpdateId">
                    <p>쿠폰명<input type="text" id="couponUpdateTitle"></p>
        <!--            <p>쿠폰코드<input type="text" id="couponUpdateCode" disabled>-->
        <!--                <button type="button" id="randomCodeBtn">코드생성</button>-->
                    <p>쿠폰코드<input type="text" class="couponEditCode" disabled>
                        <button type="button" class="randomCodeBtn">코드생성</button>
                    </p>
                    <p>기간<input type="text" id="couponUpdatePeriod"></p>
                    <p>할인율
                        <select id="couponUpdateBenefit">
                            <option value="5">5%</option>
                            <option value="10">10%</option>
                            <option value="15">15%</option>
                            <option value="20">20%</option>
                            <option value="25">25%</option>
                            <option value="30">30%</option>
                        </select>
                    </p>
                    <p>수량<input type="text" id="couponUpdateQuantity"></p>
                    <div>
                        <button type="button" id="updateCouponBtn" class="btn btn-primary"  sec:authorize="hasRole('ROLE_ADMIN')">수정</button>
                        <button type="button" id="deleteCouponBtn" class="btn btn-primary"  sec:authorize="hasRole('ROLE_ADMIN')">삭제</button>
                        <button type="button" id="cancelUpdateCouponBtn" class="btn btn-primary"  sec:authorize="hasRole('ROLE_ADMIN')">취소</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- coupon Add Modal 끝 -->

        <!-- product list 시작 -->
        <div id="productDivList">
        <table id="productTable">
            <thead>
            <tr>
                <th>content</th>
                <th>contry</th>
                <th>price</th>
            </tr>
            </thead>
            <tbody>
            <!-- Products 내용목록 -->
            </tbody>
            <button id="productEditBtn" sec:authorize="hasRole('ROLE_ADMIN')">등록</button>
        </table>

        </div>
        <!-- product list 끝 -->
        <!-- https://quantrader.tistory.com/141 스마트에디터 Modal 창으로 띄우기 -->

        <!-- product modal 등록 시작-->
        <div id="productEditModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <form id="productForm" enctype="multipart/form-data" >
                    <div id="productWrite">
                        <div id="productModal">
                            <input type="text" id="productTitle" placeholder="상품명을 입력하세요.">
                            <input type="number" id="productPrice" placeholder="가격을 입력하세요.">
                            <input type="text" id="productCode" placeholder="코드를 입력하세요.">
                            <input type="text" id="productContry" placeholder="국가를 입력하세요.">
                            <input type="text" id="productManufactureDate" placeholder="날짜를 입력하세요.">
                            <input type="text" id="productMaterial" placeholder="소재를 입력하세요.">
                            <textarea id="productFeatures"></textarea>

                            <select id="productCategorySelect1"></select>
                            <select id="productCategorySelect2"></select>
                            <select id="productCategorySelect3"></select>
                            <input type="file" id="thumbnailInput" name="thumbnails" multiple accept="image/*"/>
                            <div id="thumbnailPreview"></div>

                            <div class="colorContainer">
                                <!-- 색상 및 사이즈 및 수량 입력 그룹 추가 -->
                            </div>
                            <button type="button" class="addColorBtn">옵션 추가</button>
                        </div>

                        <!-- ckEditor -->
                        <div>
                            <div class="post-form">
                                <textarea id="ckEditor" style="width:100%;height: 500px;"></textarea>
                            </div>
                        </div>

                        <div id="modalEditWrite">
                            <button type="button" id="editProductBtn" class="btn btn-primary"  sec:authorize="hasRole('ROLE_ADMIN')">등록</button>
                            <button type="button" id="cancelEditProductBtn" class="btn btn-primary"  sec:authorize="hasRole('ROLE_ADMIN')">취소</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- product modal 등록 끝-->

        <!-- product modal 수정 시작 -->
        <div id="productUpdateModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <form id="updateProductForm" enctype="multipart/form-data" >
                    <div id="updateProductWrite">
                        <div id="updateProductModal">
                            <input type="hidden" id="updateProductId">
                            <input type="text" id="updateProductTitle" placeholder="상품명을 입력하세요.">
                            <input type="number" id="updateProductPrice" placeholder="가격을 입력하세요.">
                            <input type="text" id="updateProductCode" placeholder="코드를 입력하세요.">
                            <input type="text" id="updateProductContry" placeholder="국가를 입력하세요.">
                            <input type="text" id="updateProductManufactureDate" placeholder="날짜를 입력하세요.">
                            <input type="text" id="updateProductMaterial" placeholder="소재를 입력하세요.">
                            <textarea id="updateProductFeatures"></textarea>

                            <select id="updateProductCategorySelect1"></select>
                            <select id="updateProductCategorySelect2"></select>
                            <select id="updateProductCategorySelect3"></select>
                            <input type="file" id="updateThumbnailInput" name="thumbnails" multiple accept="image/*"/>
                            <div id="existingThumbnails"></div> <!-- 기존 썸네일 추가 -->
                            <div id="updateThumbnailPreview"></div>

                            <div class="colorContainer">
                                <!-- 색상 및 사이즈 및 수량 입력 그룹 추가 -->
                            </div>

                            <button type="button" class="addColorBtn">옵션 추가</button>
                        </div>

                        <!-- ckEditor -->
                        <div>
                            <div class="post-form">
                                <textarea id="updateCkEditor" style="width:100%;height: 500px;"></textarea>
                            </div>
                        </div>

                        <div id="modalUpdateWrite">
                            <button type="button" id="updateProductBtn" class="btn btn-primary"  sec:authorize="hasRole('ROLE_ADMIN')">등록</button>
                            <button type="button" id="deleteProductBtn" class="btn btn-primary"  sec:authorize="hasRole('ROLE_ADMIN')">삭제</button>
                            <button type="button" id="cancelUpdateProductBtn" class="btn btn-primary"  sec:authorize="hasRole('ROLE_ADMIN')">취소</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <!-- product modal 수정 끝 -->
</div>
</div>

</body>
</html>