<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
<div class="footer">
    <div class="foot_link">
        <ul>
            <li>
                <a href="" data-gtag-idx="fo_common_footer_1" data-gtag-label="매장안내">
                    <strong>FIND A STORE</strong>
                    <span>매장안내</span>
                </a>
            </li>
            <li>
                <a href="" data-gtag-idx="fo_common_footer_1" data-gtag-label="팀/단체복 구매">
                    <strong>TEAM WEAR</strong>
                    <span>팀 / 단체복 구매</span>
                </a>
            </li>
            <li>
                <a href="" data-gtag-idx="fo_common_footer_1" data-gtag-label="회원가입">
                    <strong>MEMBER JOIN</strong>
                    <span>회원가입</span>
                </a>
            </li>
            <li>
                <a href="" data-gtag-idx="fo_common_footer_1" data-gtag-label="App다운로드">
                    <strong>DOWNLOAD APP</strong>
                    <span>App 다운로드</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="foot_inner">
        <div class="foot_menu">
            <div class="list">
                <strong>NEED HELP</strong>
                <ul>
                    <li>
                        <a href="" data-gtag-idx="fo_common_footer_2" data-gtag-label="고객센터">고객센터</a>
                    </li>
                    <li>
                        <a href="" data-gtag-idx="fo_common_footer_2" data-gtag-label="FAQs">FAQs</a>
                    </li>
                    <li>
                        <a href="" data-gtag-idx="fo_common_footer_2" data-gtag-label="공지사항">공지사항</a>
                    </li>
                    <li>
                        <a href="" data-gtag-idx="fo_common_footer_2" data-gtag-label="1:1 문의">1:1 문의</a>
                    </li>
                    <li>
                        <a href="" data-gtag-idx="fo_common_footer_2" data-gtag-label="매장 찾기">매장 찾기</a>
                    </li>
                    <li>
                        <a href="" data-gtag-idx="fo_common_footer_2" data-gtag-label="App 다운로드">App 다운로드</a>
                    </li>
                </ul>
            </div>
            <div class="list">
                <strong>INFORMATION</strong>
                <ul>
                    <li>
                        <a href="" data-gtag-idx="fo_common_footer_2" data-gtag-label="통합 마일리지 안내">통합 마일리지 안내</a>
                    </li>
                    <li>
                        <a href="" data-gtag-idx="fo_common_footer_2" data-gtag-label="팀/단체복 주문안내">팀/단체복 주문안내</a>
                    </li>
                    <li>
                        <a href="" data-gtag-idx="fo_common_footer_2" data-gtag-label="배송 및 반품 안내">배송 및 반품 안내</a>
                    </li>
                    <li>
                        <a href="" data-gtag-idx="fo_common_footer_2" data-gtag-label="세탁 및 손질 방법 안내">세탁 및 손질 방법 안내</a>
                    </li>
                    <li>
                        <a href="" data-gtag-idx="fo_common_footer_2" data-gtag-label="이용약관">이용약관</a>
                    </li>
                    <li>
                        <a href="" data-gtag-idx="fo_common_footer_2" data-gtag-label="SITE MAP">SITE MAP</a>
                    </li>
                </ul>
            </div>
            <div class="list">
                <strong>INSIDE NB</strong>
                <ul>
                    <li>
                        <a href="" data-gtag-idx="fo_common_footer_2" data-gtag-label="INSIDE NB">INSIDE NB</a>
                    </li>
                    <li>
                        <a href="" data-gtag-idx="fo_common_footer_2" data-gtag-label="MADE IN USA ⁄ UK">MADE IN USA ⁄ UK</a>
                    </li>
                    <li>
                        <a href="" data-gtag-idx="fo_common_footer_2" data-gtag-label="NBx GUIDE">NBx GUIDE</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="foot_info">
            <div class="sns">
                <a href="https://www.instagram.com/newbalance/" target="_blank" class="in">
                    <span class="blind">INSTAGRAM</span>
                </a>
                <a href="https://www.instagram.com/nbrc_seoul/" target="_blank" class="nbrc">
                    <span class="blind">NBRC</span>
                </a>
                <a href="https://www.facebook.com/nbkorea.LS" target="_blank" class="fb">
                    <span class="blind">FACEBOOK</span>
                </a>
                <a href="https://www.youtube.com/user/nbkorea" target="_blank" class="yt">
                    <span class="blind">INSTAGRAM</span>
                </a>
                <a href="https://blog.naver.com/nb_lifestyle" target="_blank" class="nb_l">NB LIFE STYLE
                </a>
                <a href="https://blog.naver.com/nbkids" target="_blank" class="nb_k">NB KIDS
                </a>
            </div>

            <div class="copyright">
                <p>
                    <a href="" class="c_link" data-gtag-idx="fo_common_footer_2" data-gtag-label="개인정보 처리">
                        <span>개인정보 처리방침</span>
                    </a>
                    /
                    <a href="" class="c_link" data-gtag-idx="fo_common_footer_2" data-gtag-label="이용약관">이용약관</a>
                    / ㈜이랜드월드패션사업부 / 서울특별시 금천구 가산디지털1로 159 이랜드월드
                    <br>
                    온라인 고객센터 : 1566-0086, AS/오프라인 고객센터 : 080-999-0456
                    <br>
                    대표 이메일 :
                    <a href="" data-gtag-idx="fo_common_footer_2" data-gtag-label="대표이메일">webmaster@nbkorea.com</a>
                    <br>
                </p>
            </div>
        </div>
    </div>
</div>
</html>방침