<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="lnb">
    <div id="lnb">
        <h2>MY</h2>
        <div class="my_category">
            <strong>상품내역</strong>
            <ul>
                <li><a href="">관심상품</a></li>
                <li><a href="">오늘 본 상품</a></li>
            </ul>
        </div>
        <div class="my_category">
            <strong>구매내역</strong>
            <ul>
                <li><a href="">주문/배송조회</a></li>
                <li><a href="">취소/반품내역</a></li>
                <li><a href="">상품 리뷰</a></li>
            </ul>
        </div>
        <div class="my_category">
            <strong>Q&A</strong>
            <ul>
                <li><a href="">FAQ</a></li>
            </ul>
        </div>
        <div class="my_category">
            <strong>MY NB</strong>
            <ul>
                <li><a href="">마일리지</a></li>
                <li><a href="">쿠폰</a></li>
            </ul>
        </div>
        <div class="my_category">
            <strong>계정관리</strong>
            <ul>
                <li><a href="">회원정보확인/수정</a></li>
                <li><a href="/my/delivery-addr">배송지 관리</a></li>
                <li><a href="">환불계좌 관리</a></li>
                <li><a href="">결제수단 관리</a></li>
            </ul>
        </div>
    </div>
</html>