.container{
    margin-top: 200px;
}
.container > .title {
    margin-top : 50px;
}
.container > h2 {
    margin-top :20px
}
.title{
    border-bottom: solid;
}
.tt_step{
    float:right;
}
.tt_step > p > span{
    margin-right : 20px;
}
.order_flow{
    color : #dbdbdb
}
#cartRow{
    height: 300px;
}
#cart{
    color : black;
    border-bottom: black solid;
    padding-bottom: 10px;
    font-weight : bold;
}
#cart_count{
    color: red;
    font-weight: bold;
}
#cartCheckBox{
    width : 100px;
    border-bottom : solid #dbdbdb;
    height: 60px;
}
#productInfo{
    width :1100px;
    border-bottom : solid #dbdbdb;
}
#quantity{
    width:200px;
    border-bottom : solid #dbdbdb;
}
#price{
    width:200px;
    border-bottom : solid #dbdbdb;
}
#button{
    width:200px;
    border-bottom : solid #dbdbdb;
}
table{
    border-top: solid black;
}
tr > td{
    border-bottom: solid #dbdbdb;
}
.cart_btn{
    padding : 10px 20px;
    margin-bottom: 20px;
    border : solid black;
}
#cart_order_btn{
    background-color: red;
    color:white;
}
#cart_item_img > img{
    width: 140px;
    height: 140px;
    margin-right: 50px;
}

#modalProdColor > li {
    list-style: none;
}

#optionColor{

}

.cart_content{
    display: inline-block;
    float: left;
}