.container{
    margin-top: 200px;
}
.container > .title {
    margin-top : 50px;
}
.tt_step{
    float:right;
}
.tt_step > p > span{
    margin-right : 20px;
}
.order_flow{
    color : #dbdbdb
}
.order_flow{
    color : #dbdbdb
}
#order{
    color : black;
    border-bottom: black solid;
    padding-bottom: 10px;
    font-weight : bold;
}

.tbl_count > h3{
    margin-top : 45px;
    padding : 0 0 20px 0;
    border-bottom: solid black;
}

.tbl_basket{
    width : 100%;
    border-bottom: #dbdbdb solid;
}

.prodImg {
    margin-right: 20px;
    display: inline-block;
    float: left;
}
.prodWrap{

    padding: 20px 0 20px 0;
}

.prodInfo{
    margin-left : 40px;
}

.coupon{
    margin : 20px 0;
    border: solid 0.5px #dbdbdb;
    width: 1100px;
}
.couponInfo{
    padding: 20px;
    float: left;
    min-height: 500px;
    width:884px;
    box-sizing: border-box;
    border:solid 1px;
}
.priceInfo{
    padding : 20px;
    min-height: 500px;
    width:216px;
    float: right;
    background-color: #dbdbdb;
    box-sizing: border-box;
}
.prodImg img{
    width: 140px;
    height: 120px;
    margin-right: 50px;
}
#productInfo{
    border-bottom : solid #dbdbdb;
    padding-bottom: 20px;
}
#quantity{
    border-bottom : solid #dbdbdb;
    padding-bottom: 20px;

}
#price{
    border-bottom : solid #dbdbdb;
    padding-bottom: 20px;
}
.deliveryAddress{
    margin-top: 500px
}
.addressTitle{
    border-bottom: solid #dbdbdb;
}
colgroup {
    display: table-column-group;
}
.row > .label{
    display: inline-block;
    float: left;
    width: 100px;
    margin: 0 20px;
    padding: 10px 0 0 20px;
}
.row{
    margin: 40px 0;
}
.input > input, select{
    padding: 10px;
}
#addr{
    width: 515px;
}
.button{
    text-align: center;
}
#submitBtn{
    color:white;
    background-color: red;
    padding : 20px 30px;
    margin : 20px;
    border: none;
    font-size: 20px;
    font-weight: 400;
}
#resetBtn{
    border: solid 1px;
    padding : 20px 30px;
    margin: 20px;
    font-size: 20px;
    font-weight: 400;
}

#addrSelectBtn{
    padding: 10px 20px;
}

#popup{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.modalWrap{
    position: absolute;
    background-color: #ffffff;
    width: 500px;
    padding: 50px;
}
#popup.hidden{
    display: none;
}
.addr-row{
    margin-top:20px;
}

.modalButton {
    text-align: center;
    margin-top: 20px;
}

#addAddressBtn {
    padding: 20px 18px;
    background-color: red;
    color: white;
    margin-top: 20px;
    border: 0;
}
