.container{
    margin-left: 400px;
    margin-right: 400px;
    min-height: 100%;
}

body{
    height: 1300px;
}

.footer{
    position : fixed;
}

a {
    color : black;
    text-decoration-line: none;
}

.nav{
    position : fixed;
    left: 0;
    top: 0;
    height : 150px;
    width: 100%;
    background-color: white;
    margin-top: 0;
}

.nav-inner{
    align-items: center;
    position: relative;
    float: right;
    background-color: lightgray;
    width: 100%;
}

.nav-inner > ul > li{
    margin-bottom: 15px;
    float: right;
    margin-right: 20px;
    list-style: none;
    font-size: 16px;
}

.gnb > ul > li{
    margin-top: 30px;
    float: right;
    margin-right: 15px;
    list-style: none;
}

.gnb > ul > li > a{
    margin: 0 10px;
    font-size: 20px;
}

.menu > ul > li > a{
    margin-left: 40px;
    font-size: 20px;
}

.menu > ul > li{
    list-style: none;
    float: left;
    width: 80px;
    height: 40px;
    margin-top: 30px;
    margin-left: 15px;
}
.menu{
    position: absolute;
    display: inline-block;
    margin-top:40px;
    width: 500px;
}

.footer{
    bottom:0;
    transform: translateY(-100%);
    position: relative;
    width: 100%;
    height: 200px;
    background-color: black;
    color : white;
}

#wrap{
    display: flex;
    margin-top: 200px;
}
#lnb{
    display: inline-block;
    width : 300px;
}
.my_category{
    margin-top : 70px;
}
.my_category > ul > li{
    list-style: none;
    margin-bottom: 10px;
}
.my_category > ul{
    padding-left: 0;
}


