spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope:
              - profile
              - email
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://www.googleapis.com/oauth2/v4/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
      location: c:///upload
  config:
    activate:
      on-profile: local
  web:
    resources:
      static-locations:
        - classpath:/static/
        - file:///C:/upload/

  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true



  datasource:
    url: jdbc:postgresql://localhost:5432/newbalance
    username: postgres
    password: apfhd1
#    driver-class-name: org.postgresql.Driver
    driver-class-name: org.postgresql.Driver

  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true
      additional-paths: src/main/webapp

  board:
    paging:
      size: 10

server:
  url: http://localhost:8080

mybatis:
  mapper-locations: classpath:mapper/**/*.xml
  type-aliases-package: practice.newbalance.dto
  configuration:
    map-underscore-to-camel-case: true
